/* common css */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.btn {
    background-color: red;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    border: none;
}

img {
    max-width: 100%;
    /*because of image overlflow*/
}

/* animation */

@keyframes banner-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    50% {
        opacity: 0.5;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes banner-player-animation {
    0% {
        opacity: 0.5;
        transform: translateX(-20px);
    }

    50% {
        opacity: 0.7;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* banner */

.banner {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 50px auto;
    animation: banner-animation 0.7s ease-out forwards;
}

.banner-left {
    padding-left: 45px;
    flex: 1;
}

.banner h2 {
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
}

.banner p {
    color: white;
    font-weight: 400;
    margin: 15px 0;
    max-width: 65%;
    /*banner-left er width er 65% hoise*/
}

.banner-right {
    flex: 1;
}

.banner-right img {
    display: block;
    animation: banner-player-animation 1s ease-in forwards;
}

/* upcoming matches */

.upcoming-matches {
    display: flex;
    padding: 50px 0;
    gap: 20px;
    animation: banner-animation 0.7s ease-out reverse;
}

.u-m-left {
    background-color: black;
    width: 25%;
    height: fit-content;

    border-radius: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.u-m-left .btn:nth-child(1),
.u-m-left .btn:nth-child(2) {
    background-color: white;
    color: black;
}

.u-m-right {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.u-m-right .card {
    border: 1px solid white;
    border-radius: 10px;
}

.upcoming-matches .card .card-body {
    padding: 20px
}

.u-m-right .card img {
    height: 180px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.u-m-right .card .btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 17px;
    margin-top: 10px;
}

.u-m-right .card .btn h2 {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.card-bottom {
    display: flex;
    gap: 20px;
    color: #161616;
}

/* responsive - laptop/tab */

@media (max-width:992px) {

    .container {
        /*banner*/
        margin: 0 20px;
    }

    .banner h2 {
        font-size: 50px;
        font-weight: 600;
        line-height: 50px;
    }

    .upcoming-matches {
        /*upcoming matches*/
        flex-direction: column;
    }

    .u-m-left {
        flex-direction: row;
        width: 100%;
        background-color: transparent;
    }

    .u-m-left * {
        flex: 1;
    }

    .u-m-left .btn {
        border: 1px solid rgb(232, 232, 232);
    }

    .u-m-right {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* responsive - mobile */

@media (max-width:768px) {

    .container {
        /*banner*/
        margin: 0 10px;
    }

    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner .banner-left {
        margin-bottom: 50px;
        padding-left: 0;
        padding-top: 20px;
    }

    .banner .banner-left p {
        margin: 15px auto;
        /*max-width:100% diyeo possible*/
    }

    .u-m-right {
        grid-template-columns: 1fr;
    }
}